<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsicen.extensions">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name=".utils.CustomProvider"
            android:authorities="${applicationId}.ExtensionsFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>